<h1>Hair Salon</h1>

<p>Add in a stylist:</p>

<form action="/stylist" method="post">
  <label for="stylist_name">Assign a name to your stylist:</label>
  <input id="stylist_name" name="stylist_name" type="text">

  <button type="submit">Add list</button>
</form>

<% if @stylists.any?() %>
  <p>Click on a stylist to see their clients:</p>

  <ul>
    <% @stylists.each do |stylist| %>
      <li><a href="/stylists/<%= stylist.id() %>"><%= stylist.stylist_name() %></a></li>
    <% end %>
  </ul>
<% else %>
  <p>There are no stylists yet!</p>
<% end %>
